* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* background-color: white; */
    font-family: lato;
}

:root {
    --cor-primaria: #2768ac;
    --cor-secundaria: white;

    --font-color-primaria: black;
    --font-color-secundaria: white;

    --borda-card: rgb(163, 163, 163);

}