body {
    text-align: center;
    color: rgb(0, 0, 0);
}

header {
    width: 100%;
    justify-items: start;
    display: flex;
}

.section-principal {
    justify-self: center;
    display: block;
    width: 90%;
    justify-items: center;
    margin-top: 0px;
}

.subtitle {
    color: white;
    font-weight: 300;
}

.section-principal section {
    margin-top: 70px;
}

.logo_corte {
    height: 100px;
    border: none;

}

a {
    text-decoration: none;
}

p {
    color: white;
    font-weight: 300;

}

h2 {
    margin-top: 10px;
    color: var(--font-color-secundaria);
}

h1 {
    font-size: xx-large;
    color: var(--font-color-secundaria);
    font-size: 40px;
}

h3 {
    color: var(--font-color-secundaria);
}

img {
    border-radius: 16px;
    border: 1px solid var(--borda-card);
}

.whatsapp {
    padding: 10px 20px;
    background-color: rgb(18, 139, 18);
    border: none;
    /* 1px solid var(--borda-card); */
    border-radius: 8px;
    margin: 30px;
    color: white;
    text-align: center;
    align-content: center;
}

.whatsapp svg {
    margin-bottom: 0px;
    color: white;
}

.whatsapp a {
    background-color: transparent !important;
    color: var(--font-color-secundaria);
    font-weight: 600;
}

.foto_texto {
    display: flex;
    margin-top: 60px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.row-fotos {
    width: 100%;
    height: 450px;
}

.row-fotos section {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;

}

.row-fotos section .container-produto {
    background-color: var(--cor-secundaria);
    height: fit-content;
    padding: 20px;
    border-radius: 16px;
    text-align: start;
    align-content: space-between;

}

.row-fotos p {
    margin-top: 15px;
    color: black;
    background-color: transparent;
    height: 40px;

}

.row-fotos .preco {
    margin-top: 15px;
    font-weight: bold;
    background-color: transparent;
}

.fotos-row {
    width: 200px !important;
    height: 150px !important;
}



.botao-comprar {
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
    width: 100%;
    /* height: fit-content; */
    padding: 10px 10px;
    background-color: var(--cor-primaria);
    border-radius: 12px;
    color: var(--font-color-secundaria);
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.botao-comprar:hover {
    background-color: rgb(222, 222, 255);
}


.foot-page {
    height: 200px;
    width: 100%;
}

.links_midia {
    list-style: none;
}

.links_midia li {
    margin: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

svg {
    margin-top: 1px;
    background-color: transparent;
    color: var(--cor-secundaria);
    height: 15px;
    width: 15px;
}

button svg {
    color: var(--cor-primaria);
    height: 25px;
    width: 25px;
}

li button {
    border: 1px solid var(--borda-card);
    background-color: var(--cor-secundaria);

    border-radius: 55%;
    padding: 10px;

}

.linha-contato {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}