body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #2768ac;
}



a {
    text-decoration: none;
    cursor: pointer;
}

p {
    color: white;
    font-weight: 300;

}

h2 {
    margin-top: 10px;
    color: var(--font-color-secundaria);
}

h1 {
    font-size: xx-large;
    color: var(--font-color-secundaria);
    font-size: 40px;
}

h3 {
    color: var(--font-color-secundaria);
}

img {
    border-radius: 16px;
    border: 1px solid var(--borda-card);
}

.section-principal {
    justify-self: center;
    display: block;
    width: 90%;
    justify-items: center;
    margin-top: 0px;
    position: relative;
}

.section-principal section {
    margin-top: 150px !important;
}

header {
    height: 600px;
    width: 100%;
    /* width: 100%;
    justify-items: start;
    display: flex; */
    position: relative;
    /* Define o contexto de posicionamento */
    z-index: 1;
    /* Mantém o header abaixo */
}

.casalimpa {
    border-radius: unset;
    background-size: cover;
    width: 100%;
    height: 100%;


    /* Full height */
    /* height: %;  */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho {
    width: 100%;
    height: 50px;
    display: flex;
}

.bg-text {
    display: block;
    /* padding: 20px; */
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;

}

.bg-text p {
    margin-bottom: 10px;
}

.bg-text h2 {
    margin: 30px;
}

.quemsomos {
    width: 100%;
    display: block;
    text-align: center;
    align-content: center;
}

.row-apresent {
    position: absolute;
    /* Posiciona sobre o header */
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 0px;
    justify-content: space-around;
    position: sticky;
    z-index: 2;
    /* Garante que estará acima do header */
}

.card-incio {
    height: 100% !important;
    background-color: var(--cor-secundaria);
    height: fit-content;
    padding: 20px;
    border-radius: 16px;
    align-content: space-between;
    /* background-color: green; */
}

.card-incio h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--cor-primaria);
}

.card-incio h4 {
    color: var(--cor-primaria);
    height: 170px;
    text-align: center;
    align-content: center;
    margin: 0px 40px;
}

.card-incio ul {
    text-align: start;
    list-style-position: inside;
}

.card-incio ul li {
    margin-bottom: 20px;
}

.subtitle {
    color: white;
    font-weight: 300;
}

.section-principal section {
    margin-top: 70px;
}

.logo_corte {
    height: 100%;
    border: none;
    align-self: flex-start;

}


.whatsapp {
    padding: 10px 20px;
    background-color: rgb(18, 139, 18);
    border: none;
    /* 1px solid var(--borda-card); */
    border-radius: 8px;
    color: white;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.whatsapp svg {
    margin-bottom: 0px;
    color: white;
}

.whatsapp a {
    background-color: transparent !important;
    color: var(--font-color-secundaria);
    font-weight: 600;
}

.start-texto {
    /* position: initial; */
}

.start-texto h3 {
    justify-self: center;
    margin: 70px 0px;
    width: 60%;
}


.foto_texto {
    display: flex;
    /* margin-top: 60px; */
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.foto_texto img {
    width: 500px;
    height: 500px;
}

.texto-revend {
    width: 50%;
}

.texto-revend img {
    margin-top: 30px;
    width: 300px;
    height: 150px;
}

.section-fotos {
    /* margin-top: 150px !important; */
    width: 100%;
}

.texto-emoji {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.row-fotos {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;

}

.row-fotos .container-produto {
    max-width: 250px;
    background-color: var(--cor-secundaria);
    height: fit-content;
    padding: 20px;
    border-radius: 16px;
    text-align: start;
    align-content: space-between;

}

.row-fotos p {
    margin-top: 15px;
    color: black;
    background-color: transparent;
    height: 40px;

}

.row-fotos .preco {
    margin-top: 15px;
    font-weight: bold;
    background-color: transparent;
}

.fotos-row {
    width: 200px !important;
    height: 150px !important;
}


.botao-comprar {
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
    width: 100%;
    /* height: fit-content; */
    padding: 10px 10px;
    background-color: var(--cor-primaria);
    border-radius: 12px;
    color: var(--font-color-secundaria);
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.botao-comprar:hover {
    background-color: rgb(222, 222, 255);
}


.section-perfil {
    width: 100%;
    height: 300px;
    /* margin-top: 150px; */
    justify-items: center;
}

.section-perfil h1 {
    margin-bottom: 30px;
}


.foot-page {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horario-func {
    display: block;
}

.links_midia {
    list-style: none;
}

.links_midia li {
    margin: 10px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

svg {
    margin-top: 1px;
    background-color: transparent;
    color: var(--cor-secundaria);
    height: 15px;
    width: 15px;
}

button svg {
    color: var(--cor-primaria);
    height: 25px;
    width: 25px;
}

li button {
    border: 1px solid var(--borda-card);
    background-color: var(--cor-secundaria);

    border-radius: 55%;
    padding: 10px;

}

.linha-contato {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}


.print_fone {
    display: none;
}